<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-4">

                    <h1 class="display-4 text-center">Sua agenda!</h1>
                    <h4 class="display-5 my-2 text-center"> Seus contatos abaixo: </h4>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        ERRO!
                    </div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Sobrenome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Samuel</td>
                            <td>Battisti</td>
                            <td>1234</td>
                            <td>samuel@samuel.com</td>
                        </tr>
                        <tr>
                            <td>Samuel</td>
                            <td>Battisti</td>
                            <td>1234</td>
                            <td>samuel@samuel.com</td>
                        </tr>
                        <tr>
                            <td>Samuel</td>
                            <td>Battisti</td>
                            <td>1234</td>
                            <td>samuel@samuel.com</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-lg-2"></div>

        </div>


        <%- include('includes/footer') %>